<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- enableOnBackInvokedCallback: 사용자가 디바이스의 뒤로 가기 버튼을 눌렀을 때 호출되는 콜백.
    이 설정을 하지 않으면 OnBackPressedCallback() 메서드를 사용하여 뒤로 가기에 대한 이벤트 처리를 했다고 하더라도
     onBackPressed() 메서드가 호출되어 뒤로 가기 이벤트를 처리한다. -->
    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipe"
        tools:targetApi="33">
        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.RegisterActivity" android:label="회원 가입 화면" android:parentActivityName=".controller.MainActivity"/>
        <activity android:name=".controller.SearchActivity" android:label="검색 화면"/>
        <activity android:name=".controller.ResultActivity" android:label="결과 화면" android:parentActivityName=".controller.SearchActivity" />
    </application>

</manifest>